/**
================贴子显示的样式==================
 */
.container .row {
    margin-top: 20px;
}

.container .row:first-child {
    /* border-bottom: 2px solid orangered;*/
}

.panel-heading a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.post-content {
    margin-left: -25px;
    /*border: 1px solid gray;*/
}

.post-comment-show {
    width: 100%;
    height: 500px;
}

.media {

}

.post-comment-input {
    margin-top: 30px;
}

.media-img {
    padding-left: 10px;
    padding-top: 20px;
}

.media-list li {
    background-color: white;
    border-top: 1px solid gray;
}

/**
============评论的评论=================
 */
.media-comment-comment {
    background-color: grey;
}

/*
.media-list .media .media-body h4:hover,p:hover {
    background-color: grey;
}*/

/**
=============添加评论对话框的样式====================
 */

/**
================层==============
 */

.comment-level1 {
    height: 130px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.comment-level2 {
    border-top: 1px solid #a793ff;
    background-color: #ffffff;
}
.comment-bar{
    /*background-color: yellow;*/
    padding-top: 10px;
    width: 100%;
    height: 40px;
    text-align: right;
    margin-bottom: 0px;
}

.comment-bar span{
    margin-left: 20px;
}


.panel-comment{
    background-color:#f0e5ff ;
}

.panel-comment .media{
    /*border-color: transparent;*/
    border-bottom: 1px  solid grey;
}
.panel-comment .media span{
    margin-left: 20px;
}

.media-left{
    border-right: 2px solid grey;
}