/**
   ===========登录模态框==============
 */
.modal {
    top: 100px;
    margin-left: 25%;
}

.modal-header h4 small {
    color: #2e6da4;
}

.modal-header span:hover {
    font-size: 25px;
    color: #c9302c;
}

.modal-body {
    margin-bottom: -23px;
}

.modal-body button:first-child {
    width: 80px;
    margin-left: 35px;
}

.modal-body button:last-child {
    width: 80px;
    margin-left: 20px;
}

/**
===========登录模态框==============
 */
.content-inner {
    margin-left: 50px;
}
