/**
添加图片
 */
.glyphicon-plus {
    font-size: 70px;
}

#headImage {
    display: none;
}
.container-inner {
    margin-top: 10px;
    margin-bottom: 50px;
    height: auto;
    min-height: 900px;
    _height: 900px;
    background-color: white;
}

.container-inner h3 {
    margin-top: 30px;
}

.input-board-info {
    border: 1px solid green;
}

.input-board-danger {
    border: 1px solid red;
}