/**
添加图片
 */
.glyphicon-plus {
    font-size: 70px;
}

#headImage {
    display: none;
}
.container-inner h3 {
    margin-top: 30px;
}

.input-board-info {
    border: 1px solid green !important;
}

.input-board-danger {
    border: 1px solid red  !important;
}