body {
    margin-top: 50px !important;
        background-color: #f5f5f5 !important;
}

.container {
    background-color: white;
    border-radius: 10px;
}

.topic-title {
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.topic-show {
    background-color: #f5f5f5;
    border: 2px solid white;
    padding-top: 10px;
}

.showPicture {
    font-size: 16px;
}

.topic-option {
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 5px solid #f5f5f5;
}

/*讨论区的样式*/
.panel {
    width: 102.5%;
    margin-top: 10px;
    margin-left: -14px;
}

.discuss {
    background-color: white;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.discuss-picture {
    margin-top: 10px;
    padding-top: 10px;
}

.discuss:hover {
    margin-left: 10px;
    z-index: 100;
    width: 105%;
    transition-duration: 0.6s;
}


.showUploadImages {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 3px solid white;
    padding-left: 20px;
}

.showUploadImages img {
    width: 150px;
    margin-top: 5px;
    margin-left: 30px;
}

.form-input {
    background-color: #f5f5f5;
    margin-top: -20px;
    margin-bottom: 50px;
}

.comment-container {
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;;
    border-radius: 10px;
    width: 870px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.comment-container > div.row {
    height: 100px;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 20px;
    border: 1px solid #e5e5e5;
}

.comment-container > div.row:first-child {
    margin-top: 10px;
}
