/**
==============贴子的特有样式=================
 */
body {
    background-color: #FFFFCC !important;
}
#main{
    margin-top: 80px;
}
.area-nav {
    position: fixed;
    top: 50px;
    z-index: 2;
    width: 100%;
    float: left;
}

.area-list {
    margin-top: 35px;
}

.panel-title > p:first-child {
    margin-left: 10px;
    text-align: left;
}

.panel-title > p:nth-child(2) {
    margin-left: 10px;
    text-align: left;
    display: block;
}

.panel-title > p {
    text-align: right;
}

.form-text {
    margin-left: 10px;
    border-radius: 3px;
    width: 50px;
}
/*次级导航栏*/
.breadcrumb {
    width: 63%;
    background-color: #FFFFCC !important;
}