/*
    ==========个人信息管理的主页面============
*/
.main {
    background-color: #FFFFCC;
    margin-top: 50px;
    height: auto;
    min-height: 900px;
}
/**
==========容器样式===================
 */
.container-inner {
    margin-top: 10px;
    margin-bottom: 50px;
    height: 900px;
    background-color: white;
}
/**
==========侧栏样式===================
 */

#panel-parent {
    width: 13.8%;
    border-radius: 8px;
    margin-left: 37px;
    position: fixed;
    margin-top: 5%;
}

#panel-parent .panel {
    color: #CC3333;
    border-radius: 0px;
    height: 15%;
    background-color: white;
    margin-top: 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}

#panel-parent .panel ul li {
    display: inline-block;
    width: 115%;
    height: 25px;
    line-height: 20px;
    padding-top: 4px;
    margin-top: 3px;
    margin-left: -15px;

}

#panel-parent .panel ul li a {
    margin-left: 28%;
    font-size: 15px;
    text-decoration: none;
    color: #FF0033;
}

#panel-parent .panel ul li:first-child {
    margin-top: -6%;
}

.panel-heading a span {
    padding-left: 10px;
}

#panel-parent ul li:hover {
     background-color: #CCFF99;
}

.active {
    background-color: #CCFF99;
}
