body {
    overflow-x: hidden;
    background-color: #f5f5f5;
}

/**
===============主容器的样式==================
 */

#main {
    background-color: white;
    margin-top: 50px;
    padding-top: 20px;
}

#column1-left {
    float: left;
    height: 500px;
    width: 100%;
    border-radius: 10px;
    border-top: 2px solid red;
    border-bottom: 2px solid grey;
}

#column1-right {
    border-top: 2px solid #8a6cb6;
    float: right;
    border-radius: 10px;
    width: 100%;
    height: 500px;
}


/**
=========板块的样式================
 */
.school-hot {
    margin-top: 2px;
    margin-right: -16px;
    height: 200px;
}

.school-hot label {
    padding-left: 10px;
    margin-top: 5px;
}

.cycleContainer {
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

/*===========index的板块设置============*/
.board-content {
    margin-top: -10px;
    /*background-color: white;*/
}

/**
=======热门话题===================
 */
.hotTopic {
    padding-left: 20px;
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

hotTopic .well {
    margin-left: -10px;
    margin-bottom: 5px;
    border: 0px;

}

.board-hot {
    margin-top: 2px;
    margin-left: -16px;
    height: 200px;
}

.board-hot label {
    margin-top: 5px;
    padding-left: 10px;
}

.school-hot ul li {
    margin-left: 30px;
    padding-top: 5px;
}

.board-hot ul li {
    margin-left: 30px;
    padding-top: 5px;
}

.hotTopic ul li {
    padding-top: 5px;
}

.hotTopic ul li:first-child {
    padding-top: 8px;
}

/*====================返回home====================*/
#goTop {
    float: right;
    right: 40px;
    bottom: 50px;
    position: fixed;
}

#foot a {
    color: grey;
    text-decoration: none;
}

/*====================尾部====================*/

#foot {
    height: 100px;
    background: white;
}






