/**
===============侧栏的样式==================
 */

.navbar-fixed-top {
    height: 0px;
}

.sidebar-nav {
    background-color: silver;
    list-style: none;
    margin-top: -5px;
    margin-left: -11px;
    padding: 0;
    position: absolute;
    top: 55px;
    border-right: 1px #f1f5f5 solid;
    height: 980px;
    width: 16%;
}

.sidebar-nav li {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
    color: #843534;
}

.sidebar-nav li a {
    color: #101010;
    font-size: 17px;
}

.sidebar-nav li {
    margin-top: 5px;
}

.sidebar-nav li:first-child {
    margin-top: 15px;
    margin-left: 220px;
    color: black;
    font-size: 22px;
}

.sidebar-nav li:nth-child(2) {
    text-align: center;
    margin-top: 30px;
}

.sidebar-nav li:nth-child(2) > img {
    width: 100px;
    height: 100px;
    border: 1px green solid;
}

.sidebar-nav li:nth-child(3) {
    text-align: center;
    margin-left: -15px;
    margin-top: 10px;
    font-size: 20px;
}

.sidebar-nav li:nth-child(4) {
    margin-top: 80px;
}

.sidebar-nav li:last-child {
    text-align: center;
    margin-top: 50px;
}

.sidebar-nav li span {
    padding-left: 35px;
}

.sidebar-nav li a:hover {
    background-color: #8a6cb6;
}

/**
============控制侧栏====================
 */
#open {
    position: fixed;
    z-index: 3;
    margin-top: 70px;
    float: left;
    margin-left: 20px;
    font-size: 20px;
}
