/**
================top栏标签====================
 */

#login {
    position: absolute;
    right: 50px;
    top: 15px;
    text-decoration: none;
}

.navbar-form button {
    width: 15%;
}

#search {
    width: 100%;
}
