<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyl.mapper.BoardMapper">

    <resultMap id="listBoards" type="com.gyl.entity.Board">
        <id column="id" property="id"/>
        <result column="board_title" property="boardTitle"/>
        <result column="create_time" property="createTime"/>
        <result column="board_type" property="boardType"/>
        <result column="user_id" property="boardManagerId"/>
        <result column="panel_id" property="panelId"/>
        <result column="logo_path" property="logoPath"/>
        <result column="info" property="info"/>
        <result column="details" property="details"/>

        <!--两个的个数-->
        <result column="posts" property="postNumbers"/>
        <result column="areas" property="areaNumbers"/>
        <association property="user" javaType="com.gyl.entity.User">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
        </association>
        <association property="panel" javaType="com.gyl.entity.Panel">
            <id property="id" column="id"/>
            <result property="title" column="title"/>
        </association>
    </resultMap>
    <select id="list" resultType="list" resultMap="listBoards">
      select * from test_bbs.t_board b
      left outer join test_bbs.t_user u on b.user_id =u.id
      left outer join test_bbs.t_panel p on b.panel_id = p.id;
    </select>

    <insert id="add" parameterType="com.gyl.entity.Board">
      insert into test_bbs.t_board
      (id,board_title,create_time,board_type,logo_path,panel_id,user_id,info,details)
      values
       (#{id},#{boardTitle},#{createTime},#{boardType},#{logoPath},#{panelId},#{boardManagerId},#{info},#{details});
    </insert>
    <update id="update" parameterType="com.gyl.entity.Board">
        update test_bbs.t_board
        <set>
            <if test="boardTitle!=null ">board_title=#{boardTitle},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="boardType!=null">board_type=#{boardType},</if>
            <if test="logoPath!=null">logo_path=#{logoPath},</if>
            <if test="panelId!=null">panel_id=#{panelId},</if>
            <if test="boardManagerId!=null">user_id=#{boardManagerId},</if>
            <if test="info!=null">info=#{info},</if>
            <if test="details!=null">details=#{details},</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from test_bbs.t_board where id=#{id}
    </delete>

    <select id="getBoardById" resultMap="listBoards">
        select * from test_bbs.t_board where id=#{id};
    </select>


    <select id="selectBoardsByPanelId" resultMap="listBoards">
        select * from test_bbs.t_board where panel_id=#{pid};
    </select>

    <!--找到所有的board，以及每个board下面的area的信息-->
    <resultMap id="listBoardsAndAreasMap" type="com.gyl.entity.Board">
        <id property="id" column="id"/>
        <result property="boardTitle" column="board_title"/>
        <collection property="areas" ofType="com.gyl.entity.Area">
            <id property="id" column="area_id"/>
            <result property="areaTitle" column="area_title"/>
        </collection>
    </resultMap>
    <select id="listBoardsAndAreas" resultMap="listBoardsAndAreasMap">
        select
        b.id,
        b.board_title,
        a.id as area_id,
        a.area_title
        from test_bbs.t_board b,test_bbs.t_area a
        where b.id =a.board_id;
    </select>

    <resultMap id="listBoards1" type="com.gyl.entity.Board">
        <id column="id" property="id"/>
        <result column="board_title" property="boardTitle"/>
        <result column="create_time" property="createTime"/>
        <result column="board_type" property="boardType"/>
        <result column="user_id" property="boardManagerId"/>
        <result column="panel_id" property="panelId"/>
        <result column="logo_path" property="logoPath"/>
        <result column="info" property="info"/>
        <result column="details" property="details"/>
        <result column="username" property="user.username"/>
        <result column="panel_title" property="panel.title"/>
    </resultMap>
    <select id="listBoardByPanelId" resultMap="listBoards1">
       select
               board.id          as id,
               board.board_title as boardTitle,
               board.create_time as createTime,
               board.board_type  as boardType,
               board.user_id     as boardManagerId,
               board.panel_id    as panelId,
               board.logo_path   as logoPath,
               board.info        as info,
               board.details     as details,
               user.username as username,
               panel.title as panel_title
        from test_bbs.t_board board,
             test_bbs.t_user user,
             test_bbs.t_panel panel
        where board.panel_id in (
               select id as panel_id
               from test_bbs.t_panel p
               where p.user_manager_id =#{id} )
         and user.id = board.user_id and panel.id=board.panel_id;
    </select>
    <select id="getBoardByManagerId" resultMap="listBoards1">
         select board.id          as id,
                board.board_title as boardTitle,
                board.create_time as createTime,
                board.board_type  as boardType,
                board.user_id     as boardManagerId,
                board.panel_id    as panelId,
                board.logo_path   as logoPath,
                board.info        as info,
                board.details     as details,
                user.username     as username,
                panel.title as panel_title
        from test_bbs.t_board board,
             test_bbs.t_user user,
             test_bbs.t_panel panel
        where board.user_id = #{id} and user.id =board.user_id and board.panel_id=panel.id
    </select>

    <select id="selectHotBoardsByPosts" resultMap="listBoards">
            select count(board_id) posts,
            board.id ,
            board.board_title
            from test_bbs.t_post post,test_bbs.t_board board
            where post.board_id =board.id
            group by board_id  order by posts desc limit 6;
    </select>
</mapper>