<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyl.mapper.DiscussMapper">
    <resultMap id="BaseResultMap" type="com.gyl.entity.Discuss">
        <id column="id" property="id"/>
        <result column="discuss_content" property="discussContent"/>
        <result column="topic_id" property="topicId"/>
        <result column="create_time" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="praises" property="praises"/>
        <result column="down" property="down"/>
        <result column="discuss_pictures" property="discussPictures"/>
        <result column="nick_name" property="user.nickName"/>
        <result column="user_headImage" property="user.userBaseInfo.headImage"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, discuss_content, topic_id, create_time, user_id, praises, down, discuss_pictures
  </sql>
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_discuss
        where id = #{id}
    </select>
    <delete id="deleteById" parameterType="java.lang.String">
    delete from t_discuss
    where id = #{id}
  </delete>
    <insert id="insert" parameterType="com.gyl.entity.Discuss">
    insert into t_discuss (id, discuss_content, topic_id,
      create_time, user_id, praises, 
      down, discuss_pictures)
    values (#{id}, #{discussContent}, #{topicId}, 
      #{createTime}, #{userId}, #{praises}, 
      #{down}, #{discussPictures})
  </insert>
    <update id="update" parameterType="com.gyl.entity.Discuss">
    update t_discuss
    set discuss_content = #{discussContent},
      topic_id = #{topicId},
      create_time = #{createTime},
      user_id = #{userId},
      praises = #{praises},
      down = #{down},
      discuss_pictures = #{discussPictures}
    where id = #{id}
  </update>
    <!--根据话题的id，查下面所有的讨论-->
    <select id="listByTopicId" resultMap="BaseResultMap">
       select d.id ,
              d.topic_id,
              d.user_id,
              d.create_time,
              d.discuss_content,
              d.discuss_pictures,
              d.down,
              d.praises,
              u.nick_name,
              u.head_image as user_headImage
        from bbs.t_discuss d ,bbs.t_user u where d.topic_id =#{topicId}  and u.id=d.user_id order by d.create_time desc;
    </select>
</mapper>