<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyl.mapper.PanelMapper">

    <insert id="add" parameterType="com.gyl.entity.Panel">
        insert into t_panel (id,title,create_time,logo_path,user_manager_id,info,detail,is_disabeld)
        values(#{id},#{title},#{createTime},#{logoPath},#{panelManagerId},#{info},#{detail},1);
        <!--
            <if test="panelDisabled==true">
                   values(#{id},#{title},#{createTime},#{logoPath},#{panelManagerId},#{info},#{detail},1);
             </if>
             <if test="panelDisabled==false">
                 values(#{id},#{title},#{createTime},#{logoPath},#{panelManagerId},#{info},#{detail},0);
             </if>
         -->

    </insert>
    <select id="list" resultMap="listPanel">
        select * from test_bbs.t_panel ;
    </select>
    <resultMap id="listPanel" type="com.gyl.entity.Panel">
        <result property="panelManagerId" column="user_manager_id"/>
    </resultMap>
    <update id="update">
        update test_bbs.t_panel
        set title=#{panel.title}
        ,create_time=#{panel.createTime}
        ,logo_path=#{panel.logoPath},
        user_manager_id=#{panel.panelManagerId}
        ,info=#{panel.info}
        ,detail=#{panel.detail}
        ,is_disabled=#{panel.panelDisabled}
        where id=#{pid};
    </update>
    <delete id="delete">
        delete from test_bbs.t_panel where id=#{pid}
    </delete>
    <select id="getPanelById" resultType="com.gyl.entity.Panel" resultMap="listPanel">
        select * from test_bbs.t_panel where id=#{pid}
    </select>
</mapper>