<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyl.mapper.PraiseMapper">

    <insert id="add">
        insert into test_bbs.t_praise (user_id,post_id,discuss_id) values (#{userId},#{postId},#{discussId})
    </insert>
    <delete id="deletePostPaise">
        delete from test_bbs.t_praise where user_id=#{userId} and post_id =#{postId};
    </delete>
    <delete id="deleteDiscussPaise">
        delete from test_bbs.t_praise where user_id=#{userId} and discuss_id =#{discussId};
    </delete>
    <select id="listPraisePostById" resultType="integer">
        select count(id) from test_bbs.t_praise where user_id=#{userId} and post_id=#{postId} ;
    </select>
    <select id="listPraiseDiscussById" resultType="integer">
        select count(id) from test_bbs.t_praise where user_id=#{userId} and discuss_id=#{discussId} ;
    </select>

</mapper>