<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="genJavaMapperPath" value="$PROJECT_DIR$/src/main/java/com/gyl/test" />
        <option name="genMapperXmlPath" value="$PROJECT_DIR$/src/main/java/com/gyl/test" />
        <option name="genServiceInterfacePath" value="$PROJECT_DIR$/src/main/java/com/gyl/test" />
        <option name="genServicePath" value="$PROJECT_DIR$/src/main/java/com/gyl/test" />
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/main/java/com/gyl/test" />
        <option name="javaToCrudShouldGenerateServiceInterface" value="false" />
      </ProjectProfile>
    </option>
  </component>
</project>